* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ********************************COMMENT THIS OUT BEFORE ADDING THE BACKGROUNG(Below)******************************** */
h1 {
  font-size: 62px;
  font-weight: normal;
  margin-bottom: 35px;
  margin-left: 0;
  margin-top: 0;
}

p {
  font-size: 18px;
}

span {
  font-weight: 600;
}
/* ********************************COMMENT IT OUT BEFORE ADDING THE BACKGROUNG(Above)******************************** */

.ul_style_p {
  list-style-type: none;
  width: 100%;
}

.li_style_p {
  float: left;
}

.general_property_p {
  color: black;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* ********************************REMOVE THIS, BEFORE ADDING THE BACKGROUNG(Below)******************************** */
#india_holiday {
  color: #ff6612;
}

.center_heading {
  color: #38404f;
  font-family: Arial, Helvetica, sans-serif;
  left: 550px;
  line-height: 55px;
  position: absolute;
  top: 250px;
}
/* ********************************REMOVE THIS, BEFORE ADDING THE BACKGROUNG(Above)******************************** */


/* ***************************BOTTOM NAVIGATION BAR(REMOVE THIS, BEFORE ADDING YOURS)*************************** */
.bottom_navbar {
  background: #fff;
  bottom: 0px;
  box-shadow: 1px 1px 5px 5px rgba(105, 105, 105, 0.1);
  float: left;
  padding: 25px 20px;
  position: 699.8px;
  position: fixed;
  transition: all 0.2s;
  width: 100%;
  z-index: 999;
}

.bottom_navbar:hover {
  padding: 30px;
}

.container_p {
  position: relative;
}
/* ***************************BOTTOM NAVIGATION BAR(REMOVE THIS, BEFORE ADDING YOURS)*************************** */

.top_navbar_p {
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(105, 105, 105, 0.1);
  float: left;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.navigator_left_p {
  justify-content: space-around;
  margin: -23px 118px;
  padding: 30px;
}

.navigator_left_p ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.navigator_left_p ul li a {
  color: #38404f;
  padding-right: 13px;
}

.website_icon_p {
  left: 25px;
  margin-right: 20px;
  position: absolute;
  /* top: 5px; initial */
  top: 5px;
  /* width: 7%; initial */
  width: 9%;
  z-index: 99;
}

.dropdown_container_p {
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown_container_p a {
  color: black;
  display: block;
  float: none;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
}

.dropdown a:hover {
  color: #ff6612;
  transition-duration: 0.4s;
}

.dropdown:hover .dropdown_container_p {
  display: block;
}

.down_arrow_p {
  width: 10px;
}

.right_arrow_p {
  /* ROTATING THE DOWN ARROW */
  position: relative;
  transform: rotate(-90deg);
  width: 10px;
}

.sidepanel_p {
  background-color: #111;
  height: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  position: fixed;
  right: 0px;
  top: 0px;
  transition: 0.8s;
  width: 0;
  z-index: 1;
}

.sidepanel_p a {
  color: #818181;
  display: block;
  font-size: 25px;
  padding: 30px 8px 8px 32px;
  text-decoration: none;
  transition: 0.3s;
}

.sidepanel_p a:hover {
  color: #f1f1f1;
}

.sidepanel_p .closebtn_p {
  font-size: 36px;
  position: absolute;
  right: 190px;
  top: 2px;
}

.openbtn_p {
  background-color: transparent;
  border: none;
  color: #111;
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px 15px;
  position: absolute;
  right: 25px;
  top: 15px;
  z-index: 99;
}

.openbtn_p:focus {
  cursor: default;
  display: block;
}
